@{
    Layout = null;

    var carModel = "Lamborghini Huracan";
    var yearModel = 2018;
    var description = "<p>The Lamborghini Huracán (Spanish for \"hurricane\"; [uɾaˈkan]) is a sports car manufactured by Italian automotive manufacturer Lamborghini replacing the previous V10 flagship, the Gallardo. The Huracán made its worldwide debut at the 2014 Geneva Auto Show, and was released in the market the second quarter of 2014. The LP 610-4 designation comes from the fact that this car has 610 metric horsepower and 4 wheel drive, while LP stands for \"Longitudinale Posteriore\", which refers to the longitudinal mid-rear engine position. The Huracán was named \"The Supercar of the Year 2014\" by automotive magazine <strong>Top Gear</strong>.</p>";
    var variants = new string[]
    {
        "2.1 Huracán LP 610-4 Coupe (2014–present)",
        "2.2 Huracán LP 610-4 Polizia",
        "2.3 Huracán LP 610-4 Avio",
        "2.4 Huracán LP 610-4 Spyder (2016–present)",
        "2.5 Huracán LP 580-2 (2016-present)",
        "2.6 Huracán LP 580-2 Pope Francis",
        "2.7 Huracán LP 580-2 Spyder (2016-present)",
        "2.8 Huracán LP 640-4 Performante (2017-present)",
        "2.9 Huracán LP 640-4 Performante Spyder (2018–present)"


    };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@carModel</h1>
        <h2>Model Year @yearModel</h2>

        <h5>Description: </h5>
        <div>@Html.Raw(description)</div>

        <h5>Lamborghini Huracan Variants: </h5>
        <div>@variants</div>
    </div>
</body>
</html>
