@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lamborghini Detail";

   
}

<h1>@ViewBag.CarModel</h1>
<h2>Model Year @ViewBag.YearModel</h2>

<h5>Description: </h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.Variants.Length > 0)
{
    <h5>Lamborghini Huracan Variants: </h5>
    <div>
        <ul>
            @foreach (var variant in ViewBag.Variants)
            {

                <li>@variant</li>

            }
        </ul>
    </div>
}

   
