@model LamborghiniGallery.Models.Lamborghini[]
@{
    ViewBag.Title = "Lamborghinis";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var lamborghini in Model)
    {
        <div class="col-md-3">
            <h4>@lamborghini.DisplayText</h4>
            <img src="~/Images/@lamborghini.CoverImageFileName"
                 alt="@lamborghini.DisplayText"
                 class="img-responsive" />
        </div>
    }

</div>
