@model LamborghiniGallery.Models.Lamborghini[]
@{
    ViewBag.Title = "Lamborghinis";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var lamborghini in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(lamborghini.DisplayText, "Detail", new { id = lamborghini.Id})</h4>
            <a href="@Url.Action("Detail", new { id = lamborghini.Id})">
                <img src="~/Images/@lamborghini.CoverImageFileName"
                     alt="@lamborghini.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }

</div>
